* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #718096;
    }
}

html {
    font-size: 16px;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

// scss variables
// color variables
$primary-color: #6f0dcc;
$secondary-color: #de8e68;
$dark-primary: #5702a7;
$accent-color: #c9870d;
$white-color: #ffffff;
$grey-color: #faf7fa;
$danger-color: #b60c53;
$dark-color: #000411;
$success: #12c397;
$dark-grey: #444;
$orange: #f8910b;
$orange2: #f5a339;

// Scss keyframes
@keyframes linkAnimation {
    0% {
        background: $white-color;
        background-position: left center;
        color: $primary-color;
    }
    50% {
        background: lighten($primary-color, 45%);
        background-position: left center;
        color: $white-color;
    }
    100% {
        background: $white-color;
        background-position: left center;
        color: $primary-color;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

// pulse
@keyframes pulse {
    0% {
        background: #eee;
    }
    30% {
        background: darken(#eee, 5%);
    }

    70% {
        background: darken(#eee, 10%);
    }

    100% {
        background: darken(#eee, 15%);
    }
}

// spin
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// bounce
@keyframes bounce {
    0% {
        transform: translateY(-30px);
    }

    25% {
        transform: translateX(-20px);
    }

    75% {
        transform: translateY(25px);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-20px);
    }
}

// Scss mixins
/* * flex center mixin */
@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

// display flex
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// display grid
@mixin Grid($gap: 1rem, $num_rows: 3) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($num_rows, 1fr);
}

// translate transform
@mixin transLate {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Styles starts here

.progress-bar {
    z-index: 50;
}

// paragram styles
.paragraph {
    img {
        object-fit: contain;
        width: auto;
        height: auto;
        border-radius: 10px;
    }

    ul,
    ol {
        margin-left: 2rem;
    }

    a {
        font-style: italic;
        color: darken($primary-color, 15%);

        &:hover {
            background: lighten($primary-color, 50%);
        }
    }

    @media (prefers-color-scheme: dark) {
        a {
            color: lighten($primary-color, 30%);
            &:hover {
                background: darken($primary-color, 15%);
            }
        }
    }

    blockquote {
        font-style: italic;
        border-left: 5px solid #2d3748bb;
        padding: 0 10px;
    }

    // table styles
    table {
        max-width: min-content;
    }

    tr {
        border-top: 1px solid #c6cbd1;
        background: #fff;
    }

    th,
    td {
        font-size: 1rem;
        padding: 6px;
        border: 1px solid #dfe2e5;

        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
        }
    }

    table tr:nth-child(2n) {
        background: #f6f8fa;
    }

    code {
        border-radius: 5px;
    }
    pre {
        border-radius: 5px;
    }
}

.glass-effect {
    background: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
}
.glass-effect-dark {
    background: rgba(48, 62, 75, 0.555);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
}
